@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.nanum {
    font-family: "Nanum Gothic", sans-serif;
}
.main {
    width: 70%;
    margin: auto;
}
.stretch {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
.start {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
    justify-content: left;
}
.imgResize {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 14vw;
    /* max-width: 300px; */
}
.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gridRow {
    display: grid;
    grid-auto-flow: row;
    row-gap: 5px;
}
.gridColumn {
    display: grid;
    grid-auto-flow: column;
    column-gap: 5px;
}
.navbar.bg-primary{
    background-color: #3474BB !important;
}
.abdown {
    cursor: pointer;
    height: 1.5vw;
    padding: 0 !important;
    object-fit: contain;
}
.abdown {
    cursor: pointer;
    height: 1.5vw;
    padding: 0 !important;
    object-fit: contain;
}
.expl {
    row-gap: 10px;
}
.bigtitle{
    font-size: 3vw;
}
.mbtitle{
    font-size: 2.3vw;
}
.title {
    font-size: 1.5vw;
}
.subtitle {
    font-size: 1.3vw;
}
.body {
    font-size: 1.1vw;
}
.cover-start{
    display: grid;
    place-content: start start;
    max-width: 25.1vw;
}
.cover-end{
    display: grid;
    place-content: start end;
    max-width: 25.1vw;
}
#navExternal {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 0;
}
#navExternal > div {
    font-size: 2vw;
}
.downBtn{
    border-radius: 2px!important;
}
.downBtn > svg{
    transform: scale(2);
}
.sizedBox{
    height: 1.5vh;
}
.smallSizedBox{
    height: 0.8vh;
}
.imgResize2 {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 25vw;
}
.mainNavHr {
  width: 100%;
  display: block;
  border-top: 3px solid black;
  margin-top: 13.5px;
  margin-bottom: 25px;
}
.subNavHr {
    width: 100%;
    display: block;
    border-top: 1px solid black;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fit-contentX{
    width: fit-content;
}
.fit-contentY{
    height: fit-content;
}
.coverBlur{
    width: 26vw;
    position: relative;
    z-index: 999;
    left: 0px;
    height: 100%;
    background-color: black;
    min-height: 75vh;
    cursor: pointer;
}
@media all and (max-aspect-ratio: 1/1){
    .main{
        width: 95%;
    }
    .imgResize{
        width: 25vw;
    }
    .imgResize2{
        width: 40vw;
    }
    .coverBlur{
        width: 41vw;
    }
}